.buttons {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#displaytext {
  grid-column: 1/5;
  padding: 22px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
  border-radius: 50px;
  margin: 8px;
  outline: none;
}

#btnEqual {
  grid-column: 3/5;
}

button {
  font-size: 1rem;
  margin: 8px;
  padding: 20px;
  border: none;
  background-color: white;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
  outline: none;
}

button:hover {
  background-color: rgb(245, 245, 245);
  box-shadow: none;
  scale: 1.15;
}

input {
  font-size: medium;
}
